<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>com.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountRetrievalServlet</servlet-name>
        <servlet-class>com.AccountRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>com.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankTransferServlet</servlet-name>
        <servlet-class>com.BankTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <servlet-class>com.TransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountRetrievalServlet</servlet-name>
        <url-pattern>/AccountRetrievalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankTransferServlet</servlet-name>
        <url-pattern>/BankTransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <url-pattern>/TransactionHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
